body{
    background-image: cover;
    background-position: center;
}

.heading
{
font-size: 25px;
width: 39%;
margin: 0px;
box-shadow: 5px 5px 5px pink ;
}

.link
{
font-size: 18px;
width:25%;
}

.link:hover{
    font-size: 25px;
}



